<div class="container" id="leave_history">
	<ul class="collection with-header">
		<li class="collection-header">
			<h6> Accepted Leaves</h6>
		</li>
		<%for(var i=0; i< 5; i++){ %>
		<li class="collection-item"><%= i %></li>
		<%
									} %>
	</ul>
</div>