<!-- Modal Structure -->


<form class="col s12" name="form1" method="POST" action="/settings/fund/edit/">
	<div class="row">
		<div id="funds-edit-modal" class="modal modal-fixed-footer">

			<div class="modal-content">
				<h4>Edit Record</h4>
				<div class="row">
					<input type="hidden" id="fund_id_edit" name="fund_id_edit" value="" />
					<input type="hidden" name="oldRecord" id="old_record_edit" value="" />
					<div class="input-field col s6">
						<i class="material-icons prefix">check_box_outline_blank</i>
						<input id="fund_name_edit" type="text" class="validate form-control" required=""
							aria-required="true" placeholder="Fund Name" name="fund_name_edit" value="">
						<label for="fund_name_edit">Fund Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">short_text</i>
						<textarea class="materialize-textarea" class="validate form-control"
							placeholder="Fund Description" name="fund_description_edit" id="fund_description_edit"
							value=""></textarea>
						<label for="fund_description_edit">Fund Description</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">money</i>
						<input type="number" class="validate form-control" required="" aria-required="true"
							placeholder="Fund Amount" name="fund_amount_edit" id="fund_amount_edit" value="">
						<label for="fund_amount_edit">Fund Amount</label>
					</div>
				</div>
				<div class="row">
					<div class="modal-footer">
						<button type="button" class="waves-effect modal-close waves-red btn-flat">Cancel</button>
						<button type="submit" class="waves-effect waves-green btn-flat">Update</button>
					</div>
				</div>
</form>
</div>
</div>

</div>