<!-- <link rel="stylesheet" href="/css/logs.css"> -->
</head>

<body>
		<div class="col s12">
			<ul class="collapsible popout">
				<li>
					<div class="collapsible-header"><i class="material-icons">settings_system_daydream</i>System Logs</div>

					<div class="collapsible-body">
						<% var d = JSON.stringify(data) %>
						<div id="logs">
							<table id="logs_table" class="display" width="100%">
								<thead>
									<tr>
										<th>EMP ID</th>
										<th>ACTION</th>
										<th>RECORD TYPE</th>
										<th>FIELD ID</th>
										<th>OLD VALUE</th>
										<th>NEW VALUE</th>
										<th>DATE</th>
										<th>EMP NAME</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</div>


	<script>
		var dataSet = '<%- d; %>'
		console.log('dataSet', JSON.parse(dataSet))

		$(document).ready(function () {
			$('.collapsible').collapsible();
			$('#logs_table').DataTable({
				data: JSON.parse(dataSet),
				columns: [{
						data: "emp_id"
					},
					{
						data: "action"
					},
					{
						data: "record_type"
					},
					{
						data: "field_id"
					},
					{
						data: "old_value"
					},
					{
						data: "new_value"
					}, {
						data: 'time'
					}, {
						data: 'name'
					}
				]
			});
		});
	</script>


	</main>