<!-- Modal Structure -->
<form class="col s12" name="edit_grade_form" method="POST" action="/settings/grade/edit/">
	<div class="row">
		<div id="grade-edit-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Edit Record</h4>
				<div class="row">
					<input type="hidden" id="grade_id" name="grade_id" value=""/>
					<input type="hidden" name="oldRecord" id="oldRecord" value=""/>
					<div class="input-field col s6">
						<i class="material-icons prefix">grade</i>
						<textarea class="materialize-textarea" class="validate form-control"
							placeholder="Grade Short Form" name="grade_short_form" id="grade_short_form"
							value=""></textarea>
						<label for="grade_short_form">Grade Short Form</label>
					</div>
					<div class="input-field col s6">
						<select required="required" data-placeholder="Choose Allowances..." multiple class="chosen-select"
							name="selected_allowances" id="selected_allowances">
							<option value=""></option>
							<% if(allowances.length) { 
										for(var i = 0; i< allowances.length; i++) { %>
							<option value="<%=allowances[i].id %>"><%=allowances[i].name%></option>
							<%} } %>

						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">money</i>

						<input type="number" class="validate form-control" required="" aria-required="true"
							placeholder="Minimum Salary" name="min_salary" id="min_salary" value="">
						<label for="min_salary">Minimum Salary</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">money</i>
						<input type="number" class="validate form-control" required="" aria-required="true"
							placeholder="Maximum Salary" name="max_salary" id="max_salary" value="">
						<label for="max_salary">Maximum Salary</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<select required="required" data-placeholder="Choose Funds" multiple class="chosen-select"
							name="selected_funds" id="selected_funds_edit">
							<option value=""></option>
							<% if(funds.length) { 
										for(var i = 0; i< funds.length; i++) { %>
							<option value="<%=funds[i].id %>"><%=funds[i].name%></option>
							<%} } %>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="modal-footer" id='edit-confirm-modal'>
						<button class="waves-effect modal-close waves-red btn-flat">Cancel</button>
						<button type="submit" class="waves-effect waves-green btn-flat" value="Add">Update</button>
					</div>
				</div>
</form>
</div>
</div>

</div>