


<%- include('../includes/header'); %>
<link rel="stylesheet" href="/css/error.css" />
</head>

<body>
<div class="mainbox">
	<div class="err">4</div>
	<i class="far fa-question-circle fa-spin"></i>
	<div class="err2">4</div>
	<div class="msg">
		<div class="row">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first
			place? </div>
		<div class="row"><a class="waves-effect waves-light btn-large" href="<%= url %>"><i class="material-icons left">home</i>Home</a>
		</div>
	</div>

</div>

</body>
</html>