<script>
	$(document).ready(function () {
		$('#grade').change(function () {
			let grade_id = document.getElementById('grade').value
			if (grade_id) {
				var d = document.getElementById('salary')
				if (d.hasAttribute('disabled')) {
					d.removeAttribute('disabled')
				}
			}
		})
		$('#salary').change(function () {
			let gradeValue = $('#grade').val();
			let salaryValue = $(this).val();
			fetch('http://localhost:3000/grade_salary_validation', {
				method: 'POST',
				body: JSON.stringify({
					grade: gradeValue,
					salary: salaryValue
				}),
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(res => {
				return res.json()
			}).then(response => {
				console.log('response', response)
				if(response.status!=200){
					alert('salary isnt in grade range, please enter salary in between range')
				}
			}).catch(err => {
				console.log('err in grade valu validation', err)
			})
		})
	})
</script>
<h5><b style="color: coral;">Salary Details</b></h5>
<div class="divider"></div>
<br />
<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">grade</i>
		<select name="employee_grade" id='grade' required="" aria-required="true">
			<option value="" disabled selected>Choose Employee Grade</option>
			<% if(grades.length) { 
				for(var i = 0; i< grades.length; i++) { %>
			<option value="<%=grades[i].id %>"><%= grades[i].grade %> (><%= grades[i].min_salary %>,
				<<%= grades[i].max_salary %>) </option> <% } } %> </select> </div> <div class="input-field col s6">
					<i class="material-icons prefix">attach_money</i>
					<input type="number" disabled size="8" class="validate" required="" aria-required="true"
						class="form-control" name="salary" id="salary" value="">
					<label for="icon_prefix">Employee Basic Salary</label>
					<span class="helper-text" id="msg" data-error="" data-success="">Choose Money in between
						Range</span>
	</div>
</div>