


<header>
	<nav class="indigo " role="navigation">
		<div class="nav-wrapper">
			<a href="#!"><img style="margin-top: 10px; margin-left: 5px;" src="/dynasoftLogo.png" /></a>

			<ul class="right hide-on-med-and-down">
				<li>
					<form action="/logout" method="POST">
						<button class="red" type="submit"><i class='material-icons'>logout</i></button>
					</form>
				</li>
			</ul>
			<!-- <ul class="dropdown-content right" id="user_dropdown">
				<li><a class="indigo-text" href="#!">Profile</a></li>
				<li>
					<form action="/logout" method="POST"> <button class="indigo-text" type="submit">Logout</button>
					</form>

					<form action="/logout" method="POST"> <a class="indigo-text" type="submit">Logout</a>
					</form>
				</li>
			</ul> -->
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		</div>
	</nav>

	<nav>
		<div class="nav-wrapper indigo darken-2">

			<a style="margin-left: 20px; color: orange;" class="breadcrumb" href="/admins"><%= navigation.role %></a>
			<a class="breadcrumb" style="color: orange;" href="#!"><%= navigation.pageName %></a>
			<a class="breadcrumb" style="color: orange;" href=""><%= navigation.pageExtension %></a>
			<div style="margin-right: 20px;" id="timestamp" class="right"></div>
		</div>
	</nav>
</header>

